---
import { SITE } from 'astrowind:config';
---

<span class="flex items-center gap-2 self-center">
  <img 
    src="/media/logo-1.png" 
    alt={SITE?.name} 
    class="h-30 w-auto object-contain"
  />

</span>