---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import WhatsAppFloatingButton from '~/components/widgets/WhatsAppFloatingButton.astro';
import MessengerFloatingButton from '~/components/widgets/MessengerFloatingButton.astro';

import { getHeaderData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const headerData = await getHeaderData();
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
  <WhatsAppFloatingButton
  phone="32499610628"
  message="Bonjour, je souhaite avoir des infos sur vos quads et équipements."
/>
<MessengerFloatingButton pageUrl="61563294435406" />
</Layout>